{% extends "base.html" %}

{% block title %}
About Us | SkillCraft Solutions
{% endblock %}

{% block meta_description %}
Learn about SkillCraft Solutions, our mission, engineering project guidance and research support services.
{% endblock %}

{% block canonical %}
https://skillcraftsolutions.in/about
{% endblock %}

{% block body %}


  <div id="about" class="about section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="/static/assets/images/about_us2.jpg" alt="about_us2.jpg" height="100%">
              </div>
            </div>
            <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
              <div class="about-right-content">
                <div class="section-heading">
                  <h6>About Us</h6>
                  <h4> What is <em>SkillCraft Solutions</em>❓</h4>
                  <div class="line-dec"></div>
                </div>
                <p> <strong style="color:black;"><b>SkillCraft Solutions</b></strong> is a project development startup with over 2 years of experience, focused on helping final year students complete their <strong style="color:black;"><b>academic projects</b></strong> with confidence. We provide <strong style="color:black;"><b>end-to-end solutions</b></strong> including project code, detailed reports, live demos, and personal guidance — tailored for students in Engineering, MCA, MCS, BCA, and related fields. Our mission is to make project submission stress-free, professional, and impactful.                </p>
                <div class="section-heading">
                  <h6>💡 Our Expertise Distribution</h6>
                  <div class="line-dec"></div>
                </div>
                <p>

                </p>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item first-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="90">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            90%<br>
                            <span>🔧 Project Development</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item second-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="80">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            80%<br>
                            <span>📄 Report & Documents</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="skill-item third-skill-item wow fadeIn" data-wow-duration="1s" data-wow-delay="0s">
                      <div class="progress" data-percentage="90">
                        <span class="progress-left">
                          <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                          <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                          <div>
                            90%<br>
                            <span>🧑‍🏫 Personal Guidance</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% endblock %}
