{% block title %}
Contact SkillCraft Solutions | Final Year Project Development Company
{% endblock %}

{% block meta_description %}
Contact SkillCraft Solutions for IEEE projects, final year engineering projects, MCA projects, thesis research support, project documentation, coding assistance and academic project guidance.
{% endblock %}

{% block canonical %}
https://skillcraftsolutions.in/contact
{% endblock %}


{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-popup {{ category }}">
        <span class="popup-close" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
      </div>
      <script>
        // Auto-hide popup after 4 seconds
        setTimeout(() => {
          document.querySelector('.flash-popup').style.display = 'none';
        }, 4000);
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}

  <div id="contact" class="contact-us section" style="margin-top:35px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Contact Us</h6>
            <h4>Get In Touch With Us <em>Now</em></h4>
            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
          <form id="contact" method="POST" action="/inquire-full">
            <div class="row">
              <div class="col-lg-12">
                <div class="contact-dec">
                  <img src="/static/assets/images/contact-dec-v3.png" alt="">
                </div>
              </div>
              <div class="col-lg-5">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30270.671004208485!2d73.7849181608534!3d18.491182558248525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bfb732af849d%3A0xd4078b48b3fe44f0!2sKothrud%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1751007449856!5m2!1sen!2sin" width="100%" height="636px" frameborder="0" style="border:0" allowfullscreen></iframe>


                </div>
              </div>
              <div class="col-lg-7">
                <div class="fill-form">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="/static/assets/images/phone-icon.png" alt="">
                          <a href="tel:9158698218"><br>9158698218</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="/static/assets/images/email_icon.png" alt="">
                          <a href="mailto:skillcrafttsolutions@gmail.com">skillcrafttsolutions-<br>@gmail.com</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="info-post">
                        <div class="icon">
                          <img src="/static/assets/images/location-icon.png" alt="">
                          <a>SkillCraft Solutions, Kothrud, Pune.</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="name" id="name" placeholder="Name" autocomplete="on" required>
                      </fieldset>

                      <fieldset>
                        <input type="text" name="number" id="number" placeholder="Number" maxlength="10" pattern="\d{10}" required>
                      </fieldset>

                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
                      </fieldset>

                      <fieldset>
                        <input type="text" name="subject" id="subject" placeholder="Subject" autocomplete="on">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="main-button ">Send Message Now</button>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
