{% block title %}
Technologies We Work On | Python, AI, ML, IoT, Cloud, IEEE Projects | SkillCraft Solutions
{% endblock %}

{% block meta_description %}
Explore project development technologies including Python, Machine Learning, Deep Learning, IoT, Cloud Computing, Big Data, Android, Web Development and IEEE project solutions offered by SkillCraft Solutions.
{% endblock %}

{% block canonical %}
https://skillcraftsolutions.in/technologies
{% endblock %}



{% block body %}



  <div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
            <h6>Tech</h6>
            <h4><em>Technologies</em> That We Use</h4>
            <div class="line-dec"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
      <div class="row">
        <div class="col-lg-12">
          <div class="loop owl-carousel">
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_python.png" alt="Python" height="170">
                </div>
                <div class="down-content">
                  <h4>🐍 Python</h4>
                  <span>Core language for logic, scripting, ML & automation</span>
                </div>
              </div>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_html_css.jpeg" alt="HTML & CSS" height="170">
                </div>
                <div class="down-content">
                  <h4>🌐 HTML & CSS</h4>
                  <span>Structure and styling for web projects</span>
                </div>
              </div>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_javascript_bootstrap.jpeg" alt="Javascript & Bootstrap" height="170">
                </div>
                <div class="down-content">
                  <h4>⚙️ JavaScript & Bootstrap</h4>
                  <span>Interactive and responsive UI development</span>
                </div>
              </div>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_django_flask.jpeg" alt="Django & Flask" height="170">
                </div>
                <div class="down-content">
                  <h4>🧩 Django & Flask</h4>
                  <span>Backend frameworks for web application development</span>
                </div>
              </div>
              </a>
            </div>
            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_ml.jpeg" alt="Machine Learning" height="170">
                </div>
                <div class="down-content">
                  <h4>🤖 Machine Learning</h4>
                  <span>Data-driven solutions using Scikit-learn, Pandas, NumPy</span>
                </div>
              </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_dl.jpeg" alt="Deep Learning" height="170">
                </div>
                <div class="down-content">
                  <h4>🧠 Deep Learning</h4>
                  <span>Advanced models using TensorFlow, Keras, OpenCV</span>
                </div>
              </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_mysql.jpeg" alt="Mysql" height="170">
                </div>
                <div class="down-content">
                  <h4>🗃️ MySQL</h4>
                  <span>Relational database for structured data management</span>
                </div>
              </div>
              </a>
            </div>

            <div class="item">
              <a href="#">
                <div class="portfolio-item">
                <div class="thumb">
                  <img src="/static/assets/images/tech_image_sqllite.jpeg" alt="SqlLite" height="170">
                </div>
                <div class="down-content">
                  <h4>📁 SQLite3</h4>
                  <span>Lightweight embedded database for standalone projects</span>
                </div>
              </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
