{% extends 'base.html' %}

{% block body %}

  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h6>Our Services</h6>
            <h4>Turn Your Final Year Project Into a <em>Masterpiece</em></h4>

            <div class="line-dec"></div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="menu">
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_01.png" alt=""></span>
                        Projects
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_02.png" alt=""></span>
                        Documentation
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_03.png" alt=""></span>
                        Live Demo
                      </div>
                    </div>
                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_04.png" alt=""></span>
                        Personal Guidance
                      </div>
                    </div>

                    <div>
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_06.png" alt=""></span>
                        Paper Publication
                      </div>
                    </div>

                    <div class="last-thumb">
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/service_icon_05.png" alt=""></span>
                        Internship
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <ul class="nacc">

                    <li class="active" style="margin-bottom:40px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>📂 Ready-Made & Custom Projects</h4>
                                  <p>We provide both ready-to-deploy and fully customized projects tailored to your academic requirements and technical interests. Whether you're looking for a quick project in Web Development, Machine Learning or Data Science — we deliver it.</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> 100% working source code</span> <span><i class="fa fa-check"></i> Tech guidance</span>
                                  <span><i class="fa fa-check"></i> Clean and structured Code</span><span><i class="fa fa-check"></i> Setup instructions</span>
                                    </div>
                                <p>Our custom development ensures your project is unique, plagiarism-free, and aligns perfectly with your syllabus and department expectations.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_project.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li style="margin-bottom:40px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>📝 Report & Documentation</h4>
                                <p>We know how important proper documentation is for college submissions. That's why we provide:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Complete Project Report (typically 40-80 pages)</span> <span><i class="fa fa-check"></i> Abstract / Summary</span> <span><i class="fa fa-check"></i> IEEE-format paper (on request)</span>
                                  <span><i class="fa fa-check"></i> PPTs for seminars or final presentation</span> <span><i class="fa fa-check"></i> Flowcharts, UML Diagrams, and Screenshots</span></div>
                                <p>All reports are prepared following your university format, ensuring you're ready for internal and external evaluations. You get editable formats (Word, PPT) so you can make quick updates if needed.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_documentation2.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li style="margin-bottom:45px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>🎥 Live Demo </h4>
                                <p>We don’t just give you code — we make sure it runs! Our team conducts a live demo session (in person or via screen share) to:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Show the working of the entire project</span> <span><i class="fa fa-check"></i> Explain functionality in simple terms</span> </div>
                                <p>This ensures your project is accessible anywhere, anytime.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_demo.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li style="margin-bottom:100px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>👨‍🏫 Personal Guidance</h4>
                                <p>Unlike others who just deliver and disappear, we guide you personally from start to finish:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Help in choosing the right project domain</span> <span><i class="fa fa-check"></i> Explain code and logic in detail</span></div>
                                <p>Whether you're tech-savvy or not, our guidance ensures you understand your project fully — boosting your confidence and performance.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_personal_guidance.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li style="margin-bottom:40px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>📚 Paper Publication</h4>
                                <p>Want to take your project to the next level? We help you convert your final year project into a research paper and assist with its publication in reputed journals or conferences.</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Converting your project into IEEE/UGC-format research paper</span> <span><i class="fa fa-check"></i> Plagiarism checking and reduction</span> <span><i class="fa fa-check"></i> End-to-end submission and minor revision support</span>
                                  </div>
                                <p>Whether you’re planning for higher studies, applying for internships, or just want to make your resume stand out, a published paper adds tremendous value to your academic profile.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_paper_publication.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li style="margin-bottom:40px;">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-6 align-self-center">
                              <div class="left-text">
                                <h4>🎓 Internship & Experience Letter</h4>
                                <p>Want to show real-world exposure on your resume? We offer an internship & certified experience letter under the name of SkillCraft Solutions (optional). It:</p>
                                <div class="ticks-list"><span><i class="fa fa-check"></i> Highlights your role (e.g., Backend Developer, ML Intern, Project Trainee)</span> <span><i class="fa fa-check"></i> Shows duration and technologies used</span> <span><i class="fa fa-check"></i> Adds credibility during placements or job interviews</span>
                                  </div>
                                <p>This is especially helpful for students applying to internships, higher studies, or jobs where project experience is considered valuable.</p>
                              </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                              <div class="right-image">
                                <img src="/static/assets/images/service_offer_letter.jpg" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}